<%- include('partials/header') %>
<%- include('partials/navbar') %>
<%- include('partials/sidebar') %>
<div class="main-panel">
<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h3><%= tittle %></h3>
        <form class="form-sample" action="/users/edit" method="POST">
          <p class="card-description"> Silahkan edit user </p>
          <% if(typeof error !== 'undefined' && error && error.length > 0) { %>
            <label class="text-small" style="color: red; text-align: center; font-weight: bold;">*<%= error %></label>
          <% } else if (typeof success !== 'undefined' && success && success.length > 0) { %>
            <label class="text-small" style="color: blue; text-align: center; font-weight: bold;">*<%= success %></label>
          <% } %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label require">Nama</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" value="<%= user.name %>" name="name">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label require">Username</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" value="<%= user.username %>" name="username">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" value="<%= user.email %>" name="email">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Role</label>
                <div class="col-sm-9">
                  <select class="form-control">
                    <% role.forEach(function(r) { %>
                    <option value="<%= r.id %>"><%= r.role %></option>
                    <% }); %>
                  </select>
                </div>
              </div>
            </div>
          </div>
            <div class="row">
                <button class="btn btn-danger btn-fw" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                 Mau Ganti Password ?
                </button>
            </div>
                <div class="collapse" id="collapseExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label require">Password Baru</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" name="newPass">
                                </div>
                            </div>
                            </div>
                            <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label require">Konfirmasi Password Baru</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" name="newPassKonf">
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                      <div class="col-sm-4">
                        <div class="form-radio">
                          <label class="form-check-label">
                            <% if(user.status == false) { %>  
                                <input type="radio" class="form-check-input" name="membershipRadios" id="status" value="false" checked=""> Non Active <i class="input-helper"></i></label>
                            <% } else { %>
                                <input type="radio" class="form-check-input" name="membershipRadios" id="status" value="false" > Non Active <i class="input-helper"></i></label>
                            <% } %>
                        </div>
                      </div>
                      <div class="col-sm-5">
                        <div class="form-radio">
                          <label class="form-check-label">
                            <% if(user.status == true) { %>  
                                <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="true"  checked=""> Active <i class="input-helper"></i></label>
                            <% } else { %>
                                <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="true" > Active <i class="input-helper"></i></label>
                            <% } %>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="id" value="<%= user.id %>">
            <button type="submit" class="btn btn-success mr-2">EDIT</button>
            <button class="btn btn-light">CANCEL</button>
        </form>
      </div>
    </div>
</div>
<%- include('partials/footer') %>